/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

$button-color: #35495e;
$primary-color: #42b883;
$secondary-color: #35495e;

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: fit-content;
  margin: 20px 100px;
}

.title {
  color: $secondary-color;
}

.subtitle {
  color: $primary-color;
}

button {
  border: 2px solid $button-color;
  border-radius: 5px;
  background-color: $button-color;
  color: white;
  margin: 50px 10px;
  padding: 5px 9px;
  &:hover {
    cursor: pointer;
  }
}

.chip-green {
  display: inline-block;
  .striated {
    border: 2px solid #42b883;
    border-radius: 100px;
    background-color: white;
    color: #42b883;
    margin: 4px 10px;
    padding: 5px 9px;
  }
  .bullet {
    border: 2px solid #42b883;
    border-radius: 100px;
    background-color: #42b883;
    color: white;
    margin: 20px 10px;
    padding: 5px 9px;
  }
}

.chip {
  display: inline-block;
  border-radius: 100px;
  margin: 4px 10px;
  padding: 5px 9px;
  &.blue {
    border: 2px solid #35495e;
    &.striated {
      background-color: white;
      color: #35495e;
    }
    &.bullet {
      background-color: #35495e;
      color: white;
    }
  }
  &:hover {
    cursor: default;
  }
}

.inline-block {
  display: inline-block;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  .item {
    display: inline-block;
  }
}

input {
  &.input-text-field {
    color: $secondary-color;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    margin: 4px 10px;
    padding: 5px 9px;
    &:focus {
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}

.router-link {
  margin: 20px 5px;
  padding: 5px 9px;
  border: 2px solid #42b88300;
  text-decoration: none;
  color: $primary-color;
  &:hover {
    cursor: pointer;
    // border-bottom: 2px solid $primary-color;
    color: $secondary-color;
  }
}

.router-link-active {
  border-bottom: 2px solid $secondary-color;
  color: $secondary-color;
}

.nav {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 9px;
  border: 2px solid $secondary-color;
  background-color: $secondary-color;
  color: white;
  span {
    margin-right: 20px;
  }
  .link {
    padding: 5px 9px;
    border: 2px solid #42b88300;
    text-decoration: none;
    color: white;
    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }
  .link-active {
    border-bottom: 2px solid $primary-color;
    color: $primary-color;
  }
}

.side {
  float: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  &.small {
    width: 20%;
    div {
      width: 100%;
      height: 50vh;
      border: 2px solid $secondary-color;
      background-color: $secondary-color;
      color: white;
      border-radius: 5px;
      margin-right: 5px;
      padding: 5px 9px;
    }
  }
  &.large {
    width: 80%;
    div {
      width: 100%;
      height: 50vh;
      border: 2px solid $primary-color;
      background-color: $primary-color;
      color: $secondary-color;
      border-radius: 5px;
      margin-left: 5px;
      padding: 5px 9px;
    }
  }
}





