/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

$button-color: #35495e;

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: fit-content;
  margin: 20px 100px;
}

.title {
  color: #35495e;
}

button {
  border: 2px solid $button-color;
  border-radius: 5px;
  background-color: $button-color;
  color: white;
  margin: 50px 10px;
  padding: 5px 9px;
  &:hover {
    cursor: pointer;
  }
}

.chip-green {
  display: inline-block;
  .striated {
    border: 2px solid #42b883;
    border-radius: 100px;
    background-color: white;
    color: #42b883;
    margin: 4px 10px;
    padding: 5px 9px;
  }
  .bullet {
    border: 2px solid #42b883;
    border-radius: 100px;
    background-color: #42b883;
    color: white;
    margin: 20px 10px;
    padding: 5px 9px;
  }
}

.chip {
  display: inline-block;
  border-radius: 100px;
  margin: 4px 10px;
  padding: 5px 9px;
  &.blue {
    border: 2px solid #35495e;
    &.striated {
      background-color: white;
      color: #35495e;
    }
    &.bullet {
      background-color: #35495e;
      color: white;
    }
  }
  &:hover {
    cursor: default;
  }
}